%div{:style => "background-image: url('#{url_for(@sub.background_pic)}')", :class => "sub-banner"}
  =link_to('Post something cool', "/posts/new/#{@sub.id}", { class: 'sub-banner__link'} )

%a{:href => sub_path(@sub.id), :class => "sub-name"}=@sub.name

%div.post
  %h1= @post.title
  %div.post__metadata
    %p= "Created by:"
    %span.post__author-name= @user.name
    %p= "Creation date: #{@post.created_at}"
    %p= "Likes: #{@post.likes}"
    %p= "Dislikes: #{@post.dislikes}"

  %div= @post.content
  - if @has_reacted
    %div.post__reactions
      =button_to("Like", { action: "reaction", type: 'like', disable_with: 'Submitting...', post_id: @post.id })
      =button_to("Dislike", { action: "reaction", type: 'dislike', disable_with: 'Submitting...', post_id: @post.id })
    %div= @has_reacted
