!!!
%html
  %head
    %title Railsfeed
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://code.getmdl.io/1.3.0/material.indigo-pink.min.css", :rel => "stylesheet"}/
  %body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      = render 'navbar'
      %main.mdl-layout__content
        .page-content
          - if flash[:notice]
            - flash[:notice].each do |msg|
              %div= msg
          = yield
    %script{:defer => "defer", :src => "https://code.getmdl.io/1.3.0/material.min.js"}
